.footer {
  padding: 20px 0;
  background-color: $black;
  color: $white;

  @media (max-width: $xl) {
    padding: 15px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md) {
      align-items: flex-end;
    }

    @media (max-width: $sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__logo {
    color: $white;
    text-decoration: none;
    font-size: 20px;

    @media (max-width: $xxl) {
      font-size: 18px;
    }

    @media (max-width: $xl) {
      font-size: 16px;
    }

    @media (max-width: $lg) {
      font-size: 15px;
    }

    @media (max-width: $md) {
      font-size: 14px;
    }

    @media (max-width: $sm) {
      font-size: 13px;
      align-self: flex-end;
    }
  }

  &__nav {
    display: flex;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-end;
    }

    @media (max-width: $sm) {
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }
}