.nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: none;

  @media (max-width: $md) {
    display: block;
  }

  &__content {
    background-color: $black;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__wrapper {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.menu-enter-active,
.menu-leave-active {
  transition: all .5s ease-in-out;
}

.menu-enter-from,
.menu-leave-active {
  transform: translateY(-100%);
}