.skills {
  padding: 100px 0;

  &__wrapper {
    position: relative;
    padding-top: 100vh;
  }

  &__item {
    max-width: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    > img {
      max-width: 100%;
      margin-bottom: 15px;
    }

    &.before-enter {
      transform: scale(0);
      transition: all 1s cubic-bezier(.55,.05,.15,1.5) .15s;
    }

    &.enter {
      transform: scale(1);
    }

    &-1 {
      top: 0;
      left: 0;
    }

    &-2 {
      top: 15%;
      left: 70%;
    }

    &-3 {
      top: 0;
      right: 0;
    }

    &-4 {
      top: 40%;
      left: 50%;
    }

    &-5 {
      top: 45%;
      left: 24%;
    }

    &-6 {
      top: 0;
      left: 30%;
    }

    &-7 {
      top: 60%;
      right: 0;
    }

    &-8 {
      top: 80%;
      left: 55%;
    }

    &-9 {
      top: 70%;
      left: 0;
    }

    &-10 {
      top: 87%;
      left: 27%;
    }

    &-11 {
      top: 23%;
      left: 7%;
    }

    &-12 {
      top: 5%;
      left: 52%;
    }

    &-13 {
      top: 48%;
      left: 72%;
    }
  }
}