.switch {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;

  &__btn {
    margin-right: 20px;
    padding: 0;
    background: transparent;
    color: $white;
    text-transform: uppercase;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    @media (max-width: $xxl) {
      font-size: 14px;
    }

    @media (max-width: $xl) {
      font-size: 13px;
      margin-right: 16px;
    }

    @media (max-width: $lg) {
      font-size: 12px;
      margin-right: 14px;
    }

    @media (max-width: $md) {
      margin-right: 10px;
    }

    &::after {
      content: "/";
      top: 0;
      right: -12px;
      position: absolute;
      pointer-events: none;

      @media (max-width: $xl) {
        right: -10px;
      }

      @media (max-width: $lg) {
        right: -9px;
      }

      @media (max-width: $md) {
        right: -7px;
      }
    }

    &:last-child {
      margin: 0;

      &::after {
        content: '';
      }
    }
  }
}